
/***********************************
NOTES
*************************************/

/*
Classes    can apply to many elements
ids        have to be unique

*/

/***********************************
FONTS
*************************************/

/* 
I had to comment this out because it is too slow
This is the import link that imports all the fonts 
@import url(http://fonts.googleapis.com/css?family=Lobster|Anton|Shadows+Into+Light|Gloria+Hallelujah|Indie+Flower|Pacifico|Audiowide|Playball|Luckiest+Guy|Rock+Salt|Orbitron:400,900,700,500);
*/
/*
These are all the ones I downloaded from google/fonts, 
just copy and paste them to use them.
This is pobably too much and will slow down the website,
so you can remove them and only use what you need if it becomes an issue.


font-family: 'Lobster', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Playball', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Orbitron', sans-serif;

*/
/***********************************
GENERAL
*************************************/

a{
    text-decoration: none;      /* removes under lines from links */
    color: black;             /* text of links color  */
}


h1 {
    font-family: fantasy;  /* font type of h1  */
    margin: 15px 0;            /* add space to top and bottom of font  */
    font-size: 1.75em;        /* change size of font (useing em)  */
    font-weight: normal;      /* thickness of font (bold) */
    line-height: 0.8em;       /* line spacing (paragraph text)) */
}

h2 {
    margin: -5px 0 0;         /* this will pull closer to elements on top ? */
    font-size: 0.75em;        /* change size of font (useing em) */
    font-weight: normal;      /* thickness of font (bold) */
}

h3 {
    margin: 0 0 1em 0;         /* puts a space under the header from other elements */
}

img {
    max-width: 100%;          /*  fills the width of parent container */
}

/***********************************
HEADER
*************************************/

header {
    /*background: #999999; */   /* header bg color */
    /* border-color: #333333; */ /* I don't think this appears anywhere */
    background-image: url("../img/bg/heroMSCS.jpg");
    float: left;           /* float left */
    margin: 0 0 30px 0;     /* margin  */
    padding: 5px 0 0 0;    /* padding  */
    width: 100%;          /* width  */
}

header h1, h2 {
    color: white;            /* heading tag text color  */
}

/***********************************
LOGO
*************************************/

#logo {
    font-size: 30px;
    text-align: center;    /* center text */
    margin: 0;             /* ??  */
}


/***********************************
NAVIGATION
*************************************/

nav {
    background: none;   /* nav bg = blue */
    color: white;       /* nav text ? white */
    text-align: center;  /* align the text */
    padding: 10px 0;     /*  padd the text  ? */
    margin:  20px;       /*  margin all aroung ? */
    font-size: 20px;
}

nav ul {
    list-style: none;      /*  list style ?   */
    margin: 0 10px;      /*  margin   */
    padding: 0;      /*  padding   */
}

nav li {
    display: inline-block;      /*  display in line horizontally   */
}

nav a {
    font-weight: 800;          /*  font weight bold the font bigger targets to select them  */
    padding: 15px 10px;        /*  padding space the links   */
}

nav a, nav a:visited {
    color: white;      /* links visited = white */
}

nav a.selected, nav a:hover{
    /*color: #666666; */   /* selected nav list item and hover */
    color: cyan;
}

/***********************************
BODY
*************************************/

body {
    font-family: cursive;   /* font type  */
    background-color: ghostwhite;  /* bg color  */
    color: black;       /* text ? color (not changing anything) */
}


/***********************************
WRAPPER
*************************************/

#wrapper {
    max-width: 940px;  /* set maximum width  */
    margin: 0 auto;    /* center   */
    padding: 0.5%;     /* ???  */
}




/***********************************
FOOTER
*************************************/

footer {
    font-size: 0.75em;        /* size of text  */
    text-align:  center;      /* text align     */
    clear:  both;             /* clear from floating elements on its own line ?     */
    padding-top:  50px;       /* padd top only   */
    color: gray;            /* color of text  */
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/***********************************
PAGE - ABOUT
*************************************/

.profile-photo {
    display: block;         /*  display  */
    max-width: 250px;         /*  max-width  */
    margin: 0 auto 30px;         /*  margin  */
    border-radius: 5% ;        /*  cuts round edges  */
}


/***********************************
PAGE - CONTACT
*************************************/

.contact-info {
    list-style: none;      /*  remove bullet points from list styling  */
    padding: 0;      /*  padding  */
    margin: 0;      /*  margin  */
    font-size: 0.9em;      /*  font size  */
}

.contact-info a {
    display: block;      /*  display in block - will take up space  */
    min-height: 20px;      /*  min hieght - no smaller than this  */
    background-repeat: no-repeat;      /*  bg no repeat - only one image  */
    background-size: 20px 20px;      /*  bg size resize the bg  */
    padding: 0 0 0 30px;      /*  padding to the left to have space for icons */
}

.contact-info li.phone a{
    background-image: url('../img/icons/phone.png');      /*  phone icon  */
}

.contact-info li.mail a{
    background-image: url('../img/icons/mail.png');      /*  mail icon  */
}

.contact-info li.twitter a{
    background-image: url('../img/icons/twitter.png');      /*  twitter icon  */
}