/*
   Header logo
 */
#logo {
  width: 100%;
  background-image: url('../img/bg/heroMSCS.jpg');
  text-align: center;
}
/*
    Navigation Bar
 */
/*
   these don't want to work here
   I have the style in the nav php
   They center the bootstrap nav items
 */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
