/********************************
  The Projects page style sheet
*********************************/
.project-intro {
  width: 100%;
  margin: 10px 10px;
  padding: 10px 10px;
}
.project-container {
  width: 100%;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.project-anchor {
  height: 80%;
  width: 100%;
}
.project-image {
  height: 80%;
  width: 100%;
}
.project-description {
  height: 20%;
  width: 100%;
  padding: 1% 1%;
}
.anchor-decoration a:link,
.anchor-decoration a:visited,
.anchor-decoration a:hover,
.anchor-decoration a:active {
  text-decoration: none;
  color: #000;
}
.project-div-parent {
  float: left;
  padding: 1% 1%;
  margin: 1% 1%;
}
.project-div-parent a:link,
.project-div-parent a:visited,
.project-div-parent a:hover,
.project-div-parent a:active {
  text-decoration: none;
  color: #000;
}
/*      small    */
@media (min-width: 0px) {
  .project-div {
    float: left;
    padding: 1% 1%;
    margin: 1% 1%;
    width: 98%;
  }
  .project-div a:link,
  .project-div a:visited,
  .project-div a:hover,
  .project-div a:active {
    text-decoration: none;
    color: #000;
  }
}
/*     medium        */
@media (min-width: 768px) {
  .project-div {
    float: left;
    padding: 1% 1%;
    margin: 1% 1%;
    width: 48%;
  }
  .project-div a:link,
  .project-div a:visited,
  .project-div a:hover,
  .project-div a:active {
    text-decoration: none;
    color: #000;
  }
}
/*       large        */
@media (min-width: 1200px) {
  .project-div {
    float: left;
    padding: 1% 1%;
    margin: 1% 1%;
    width: 31.33333333%;
  }
  .project-div a:link,
  .project-div a:visited,
  .project-div a:hover,
  .project-div a:active {
    text-decoration: none;
    color: #000;
  }
}
